/*<--------------------------STYLE VERSION 2-------------------------------------->*/

html,
body {
    height: 100%;
}

body {
    background: #f1f1f1;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000;
    margin: 0;
    padding: 0;
}

a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a, a:focus, a:hover {
    text-decoration: none !important;
    color: inherit;
}

h2 {
    margin-top: 0;
    color: #000;
}

hr {
    margin: 0;
}

p {
    margin: 0 0 15px;
}

#main_container {
    min-height: 100%;
    margin: 0 auto;
}

#footer {
    margin: 0 auto;
}

@media screen and (min-width: 780px) {
    #main_container, #footer {
        width: 780px;
    }
}

@media screen and (min-width: 900px) {
    #main_container, #footer {
        width: 900px;
    }
}

@media screen and (min-width: 1000px) {
    #main_container, #footer, .header-inner {
        width: 1020px;
    }
}

.header-outer {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #0099CC;
    border-bottom: 1px solid #0066CC;
}

.header-inner, .footer-outer {
    margin: 0 auto;
    padding: 0 20px;
    overflow: hidden;
}

.footer-inner {
    overflow: hidden;
    background-color: #fff;
    padding: 15px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.31);
}

.footer-inner p {
    margin-bottom: 0;
}

.lab-logo_wrap {
    float: left;
}

.lab-logo {
    display: block;
    height: 50px;
    width: 91px;
    color: #fff !important;
    font-size: 20px;
    background: url("../images/icons/logo_vek21.png") center center no-repeat;
    text-shadow: 0 0 1px rgba(255, 255, 255, 1);
}

.nav-bar_wrap {
    float: right;
}

.nav-bar {
    overflow: hidden;
}

.nav-bar_item {
    float: left;
}

.nav-bar_item a {
    color: #fff;
    display: block;
    height: 50px;
    line-height: 50px;
    padding: 0 10px;
    font-size: 13px;
    text-transform: uppercase;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.nav-bar_item:last-child a {
    padding-right: 0;
}

.nav-bar_item a:hover {
    box-shadow: inset 0 -4px #fff;
}

.nav-bar li.active a {
    box-shadow: inset 0 -4px #fff;
}

.content_wrap {
    padding: 60px 20px;
}

.sidebar {
    float: right;
    width: 270px;
}

.content_common {
    margin-right: 280px;
    background: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.31);
}

.content_common h2 {
    font-size: 18px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 5px;
}

.content_common .h2_title-link:hover {
     color: #337ab7;
}

hr.style_2 {
    display: block;
    position: relative;
    border: 0;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0), rgba(0,0,0,0.75), rgba(0,0,0,0));
    margin-top: 25px;
    margin-bottom: 30px;
}

hr.style_2:before {
    content: '';
    display: block;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    border: 1px solid #333333;
    border-radius: 50%;
    background: #fff url("../images/icons/penc2.png") center center no-repeat;
}

.clear-fx {
    position: relative;
    overflow: hidden;
}

.video-container {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.content_common > h2:first-child {
    padding: 15px 15px 15px 15px;
    background: #f1f1f1;
    margin-bottom: 0;
}
/*---------------NEWS-------------*/

.article {
    padding: 15px;
}

.tags_icon {
    display: inline-block;
    width: 20px;
    height: 16px;
    margin-right: 5px;
    background: url("../images/icons/tags.png") center center no-repeat;
}

.tagname, .interestname {
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    height: 25px;
    line-height: 22px;
    margin: 0 1px 5px 0;
    padding: 0 6px;
    border: 1px solid rgba(0, 122, 197, 0.3);
    border-radius: 4px;
    color: #0086b3;
    transition: all 0.3s ease-out;
}

.tagname:focus,
.interestname:focus {
    color: #0099CC;
}

.tagname:hover,
.interestname:hover {
    color: #fff;
    background-color: #0099CC;
}

.article_announce img,
.article_desc img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.published {
    float: left;
}

.published span {
    display: inline-block;
    height: 30px;
    vertical-align: top;
}

.published span:first-child {
    width: 25px;
    background: url("../images/icons/clock.png") center 1px no-repeat;
}

.published .published_date {
    line-height: 30px;
    margin-left: 5px;
    font-size: 14px;
}

.btn-more {
    float: right;
    height: 30px;
    line-height: 28px;
    padding: 0 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    background: #F4F4F4;
    color: #464646;
}

.btn-more:active {
    border-color: #d6d6d6;
}

hr.hrnormal {
    margin: 15px 0;
}

.social-btns {
    float: right;
    height: 30px;
    padding: 5px 0;
}

.share-btn {
    float: left;
    margin-right: 6px;
    height: 20px;
}

.share-btn * {
    margin: 0 !important;
}

.fb-share-button > span{
    vertical-align: top !important;
}

.docs {
    float: left;
}

.doclist {
    margin-left: 10px;
}

.docs:first-child {
    font-weight: 400;
}

.doclist ul .docname:not(:last-child) {
    margin-bottom: 8px;
}

.docname a {
    display: inline-block;
    font-size: 14px;
    padding: 1px 0 0 25px;
    background: url("../images/icons/icon-docs.png") no-repeat;
    color: #337ab7;
}

.docname.ext_doc a {
    background-position: left 0;
}

.docname.ext_pdf a {
    background-position: left -92px;
}

.docname a:hover {
    color: #337ab7;
    text-decoration: underline !important;
}

/*<--------------------PUBLICATION------------->*/

.public-item {
    padding: 15px;
}

.flag {
    display: inline-block;
    vertical-align: top;
    height: 18px;
    line-height: 16px;
    font-size: 14px;
    padding: 0 12px 0 5px;
    text-decoration: none;
    background: url("../images/icons/flags-bg.png") no-repeat;
    color: #333;
}

#labuser-publics .flag {
    height: 18px;
    line-height: 18px;
}

.flag_article {
    background-position: right -104px;
}

#labuser-publics .flag_article {
    background-position: right -104px;
}

.flag_chapter {
    background-position: right 0;
}

#labuser-publics .flag_chapter {
    background-position: right 0;
}

.flag_book {
    background-position: right -52px;
}

#labuser-publics .flag_book {
    background-position: right -52px;
}

.title-anchor,
.title-anchor:focus,
.title-anchor:hover {
    color: #000;
    cursor: default;
}

.public-item_project a {
    color: #337ab7;
}

.public-item_project a:hover {
    text-decoration: underline !important;
}

.public-item_info {
    color: #999;
    margin-bottom: 5px;
    font-size: 14px;
}

.author-list, .keyword-list {
    margin: 10px 0;
}

.keyword-list {
    margin: 5px 0 10px 0;
}

.keyword-list li, .author-list li {
    display: inline-block;
    margin-right: 5px;
}

.author a {
    display: block;
    position: relative;
    padding: 1px 6px;
    /*line-height: 25px;*/
    border: 1px solid #0099CC;
    /*border-radius: 3px;*/
    background: #0099CC;
    color: #fff;
    box-shadow: 0 2px 2px -1px rgba(0,0,0,0.45);
}

.author a.user_isable {
    padding-left: 24px;
    background: #0099CC url("../images/icons/whitearrow.png") 4px center no-repeat;
}

.keyword a {
    color: #337ab7;
}

.keyword a:hover {
    text-decoration: underline !important;
}

.show-desc {
    height: 32px;
    line-height: 30px;
    padding: 0 25px 0 10px;
    border: 1px solid #e5e5e5;
    color: #464646;
    outline: none;
    border-radius: 3px;
    background: #F4F4F4 url("../images/icons/arrowdown-f.png") 92% center no-repeat;
}

.public-item_desc {
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
    margin-top: 10px;
    display: none;
}

.public-item_desc-container {
    padding: 10px 0;
}

.public-document {
    padding: 0 10px;
}

.public-document a {
    color: #337ab7;
    display: inline-block;
    padding: 1px 0 0 25px;
    height: 20px;
    line-height: 19px;
    background: url("../images/icons/icon-docs.png") no-repeat;
}

.public-document a:hover {
    text-decoration: underline !important;
}

.public-document a.ext_doc {
    background-position: left 0;
}

.public-document a.ext_pdf {
    background-position: left -92px;
}

.annotation {
    padding: 0 10px 0 10px;
    margin-bottom: 0;
}

/*<-------------------PROJECT----------------------->*/

.project-item {
    padding: 15px;
}

.project-item_announce img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

.author-list li:first-child {
    background: #fff;
    padding: 1px 5px;
    /*line-height: 24px;*/
    border: 1px solid #fff;
    box-shadow: 0 1px 2px 0px rgba(0,0,0,0.45);
}

.project-item h2.title .flag_indev {
    background-position: right 0;
}

.project-item h2.title .flag_ready {
    background-position: right -52px;
}

.project-item h2.title .flag_old {
    background-position: right -25px;
}

/*<-------------------------COURSE------------------------->*/

.course-item {
    padding: 15px;
}

.show_request-state {
    color: #50661A;
    height: 30px;
    line-height: 30px;
    padding-left: 35px;
    border-radius: 3px;
    background: url("../images/icons/check-20.png") 5px center no-repeat;
}

#send_request-project .control-label,
#send_request-course .control-label{
    font-weight: 300;
}

.course-item_status {
    display: inline-block;
    height: 26px;
    line-height: 26px;
    padding-left: 30px;
    padding-right: 5px;
    border-radius: 3px;
    font-size: 14px;
}

.course-item_status.status-open {
    color: #50661A;
    background: #dbecb4 url("../images/icons/attention-20.png") 5px center no-repeat;
}

.course-item_status.status-close {
    color: #66571b;
    background: #f5dfbc url("../images/icons/circle-20.png") 5px center no-repeat;
}

/*<------------------------GALLERY------------------------->*/

.gallery-show {
    padding: 10px;
}

.gallery-show .image-item {
    float: left;
    border: 10px solid #fff;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,0.5);
    margin-right: 10px;
    margin-bottom: 10px;
}

.image-item:nth-child(3n+3) {
    margin-right: 0;
}

.fancybox-skin {
    padding: 10px !important;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}

/*SIDEBAR--------------------------->*/

.related-publics,
.sidebar-articles,
.tags-container  {
    background: #fff;
}

.side-title {
    margin-bottom: 5px;
}

.side-title span {
    position: relative;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    padding: 0 19px;
    font-size: 14px;
    font-weight: 300;
    background: #0099CC;
    color: #fff;
    /*margin-top: -1px;*/
    margin-left: -4px;
}

.side-title span:after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: -30px;
    border: 15px solid transparent;
    border-left: 15px solid #0099CC;
}

.side-title span:before {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    border: 2px solid transparent;
    border-top: 2px solid #004b6e;
    border-right: 2px solid #004b6e;
}

.rel-public, .top_single,
.rel-project,
.rel-achieve {
    padding: 0 15px;
}

.rel-title {
    font-size: 14px;
    line-height: 1.4;
    font-weight: 300;
}

.rel-title a {
    border-bottom: 1px solid #eee;
}

.rel-title a:hover {
    color: #337ab7;
}

.rel-authors {
    margin-top: 2px;
}

.rel-author {
    display: inline-block;
    font-size: 13px;
}

.rel-author a {
    color: #337ab7;
}

.rel-author a:hover {
    text-decoration: underline !important;
}

.rel-info {
    font-size: 13px;
    color: #999;
    margin-top: 4px;
}

.rel-type {
    display: inline-block;
    font-size: 13px;
    font-weight: 400;
}

hr.sidenormal {
    margin: 10px 0;
}

.related-publics .rel-public:last-child,
.sidebar-articles .top_single:last-child {
    padding-bottom: 15px;
}

.related-publics .rel-public:last-child hr.sidenormal,
.sidebar-articles .top_single:last-child  hr.sidenormal {
    display: none;
}

.send_request-form {
    margin-top: 10px;
    padding: 15px;
    box-shadow: inset 0 0 3px 0 #b8c8cc;
}

.site-login {
    padding: 15px;
}

.site-login h2 {
    font-size: 24px;
    margin-bottom: 5px;
}

#login-form > div:last-child {
    margin-bottom: 0;
}

.top_single-title {
    font-weight: 300;
    font-size: 14px;
}

.top_single-date {
    color: #999;
    font-size: 12px;
    /*margin-top: 3px;*/
}

.top_single-announce {
    font-size: 13px;
}

.top_single-announce p {
    margin-bottom: 0;
}

.top_single-announce img {
    display: none;
}

.sidebar > div {
    margin-bottom: 25px;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.31)
}

.tag-single {
    display: inline-block;
    position: relative;
    margin: 0 5px 5px 0;
}

.tag-single_name {
    display: block;
}

.tag-single_name {
    padding: 3px 10px;
    font-size: 13px;
    border: 1px solid #0099CC;
    border-radius: 3px 0 0 3px;
    color: #0099CC;
    box-shadow: 0 1px 2px -1px rgba(0,0,0,.4);
}

.tag-single_name:after {
    content: attr(data-cnt);
    display: block;
    position: absolute;
    top: 0;
    left: 100%;
    max-width: 0;
    font-size: 13px;
    padding: 3px 0 3px 2px;
    border: 1px solid #0099CC;
    background-color: #0099CC;
    color: #fff;
    border-radius: 0 3px 3px 0;
    overflow: hidden;
    z-index: 2;
    transition: all 0.2s ease-out;
    text-align: center;
}

.tag-single_name:hover {
    color: #0099CC;
}

.tag-single_name:hover:after {
    max-width: 40px;
    padding-left: 8px;
    padding-right: 8px;
}

.tags-container_body {
    padding: 5px 15px 15px 15px;
}

.form-horizontal .form-group {
    margin: 0;
}

#login-form .form-group:before,
#login-form .form-group:after {
    content: '';
    display: none;
    clear: none;
}

#loginform-userlogin,
#loginform-password {
    max-width: 250px;
}

.form-group:last-child {
    margin-bottom: 0;
}

.site-about {
    padding: 15px;
}

#requestproject-captcha-image {
    display: block;
}

.site-error, .empty {
    padding: 15px;
}

/*<-------------USERS--------------->*/
.labuser-one {
    padding: 15px;
}

.labuser-topinfo {
    overflow: hidden;
}

.user_photoimg {
    float: left;
}

.labuser-view .user_photoimg {
    float: right;
}

.user_photoimg img {
    border-radius: 50%;
}

.user_contact {
    float: right;
    font-size: 14px;
    width: 180px;
    text-align: right;
    line-height: 1;
}

.labuser-common .user_contact > div {
    margin-bottom: 10px;
}

.labuser-common .user_contact span {
    display: inline-block;
}

.labuser-common .user_phone span,
.labuser-view .user_phone {
    padding-left: 20px;
    background: url("../images/icons/phone.png") left top no-repeat;
}

.labuser-common .user_mail span,
.labuser-view .user_mail {
    padding-left: 24px;
    background: url("../images/icons/mail.png") left top no-repeat;
}

.user_contact a {
    color: #0086b3;
}

.user_maininfo {
    margin-left: 60px;
    margin-right: 180px;
    overflow: hidden;
}

.labuser-view .user_maininfo {
    margin: 0 140px 0 0;
}

.user_name {
    font-size: 18px;
}

.labuser-view .user_maininfo .user_name {
    font-size: 20px;
}

.user_name a {
    border-bottom: 1px solid #eee;
}

.user_name a:hover {
    color: #337ab7;
}

.user_rank {
    font-size: 14px;
    overflow: hidden;
    margin: 5px 0 10px 0;
    line-height: 1;
}

.user_indexes {
    overflow: hidden;
    font-size: 14px;
}

.academic-title {
    /*font-weight: 400;*/
}

.academic-item {
    float: left;
    padding: 0 6px;
    border-right: 1px solid #e6e6e6;
}

.academic-item:first-child {
    padding-left: 0;
}

.academic-item:last-child {
    border-right: none;
}

.user_interests .academic-title {
    font-size: 14px;
    line-height: 1;
    margin-bottom: 10px;
}

.labuser-view .user_contact {
    width: auto;
    float: left;
    text-align: left;
}

.labuser-view .user_contact > div {
    float: left;
    margin-right: 20px;
}

.user_resume {
    display: block;
    height: 18px;
    margin-top: 10px;
    padding-left: 25px;
    background: url("../images/icons/docext.png") left top no-repeat;
}

.user_resume:hover {
    text-decoration: underline !important;
}

.user_resume {
    color: #0086b3 !important;
}

.user_resume.ext_pdf {
    background-position: 0 -18px;
}

.labuser-view .labuser-topinfo {
    margin-bottom: 15px;
}

.nav:after,
.nav:before {
    content: '';
    display: none;
}

.nav > li > a {
    padding: 6px 15px;
    color: #0086b3;
}

.nav {
    margin-bottom: 15px;
}

.article-view .article_infobar .published {
    float: right;
}

.social-btns {
    float: left;
}

div[class$='_announce'] a,
div[class$='_desc'] a {
    color: #337ab7;
    border-bottom: 1px solid #eee;
}

div[class$='_announce'] a:hover,
div[class$='_desc'] a:hover {
    border-bottom: 1px solid #337ab7;
}

.btn-own {
    background: #eee !important;
    border: 1px solid #D4D4D4 !important;
    color: #0099CC !important;
}

.btn-own:hover,
.btn-own:active {
    background: #0099CC !important;
    color: #fff !important;
}

.user-profile-password-change, .user-update-form {
    padding: 15px;
}

.user-update-form {
    font-size: 14px;
    line-height: 1.154;
}

.user-update-form fieldset .form-group {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
    margin-bottom: 5px;
    vertical-align: top;
}

input[type='file']{
    padding: 3px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.user-update-form {
    color: #333;
}

fieldset {
    border: 1px solid #c0c0c0;
    padding: 0 15px 0 15px;
    margin-bottom: 15px;
}

legend {
    display: block;
    font-size: 14px;
    width: auto;
    margin-bottom: 10px;
    border: 0;
    padding: 0 2px 0 0;
}

.user-update-form hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    height: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.user-update-form .user-img img {
    display: inline-block;
    border-radius: 50%;
    vertical-align: top;
    margin-right: 5px;
}

.form-control {
    padding: 6px 10px 6px 8px !important;
}

div[class^="existing-file-"] {
    position: relative;
    margin-bottom: 10px;
    padding-left: 20px;
    height: 20px;
    line-height: 20px;
    background: url("../images/icons/arrowd.png") left center no-repeat;
}

.file-name a {
    font-size: 15px;
    color: #337ab7;
    text-decoration: none;
}

.file-name a:hover {
    text-decoration: underline !important;
}

.hrdashed {
    border-top: 1px dashed #d4d4d4;
}

#labuser-publics .rel-authors,
#labuser-projects .rel-authors {
    margin: 0;
}

#labuser-publics .rel-author,
#labuser-projects .rel-author {
    font-size: 14px;
}

#labuser-about {
    padding: 0 15px;
}

.labuser-view .rel-title {
    font-size: 15px;
}

.labuser-mainblock .btn-own {
    margin: 0 0 15px 15px;
}

.publication-edit-index {
    padding: 15px;
}

.publication-edit-index .empty,
.project-edit-index .empty {
    padding: 0;
}

.grid-view {
    font-size: 14px;
}

.table {
    margin-bottom: 0;
}

.top_opts {
    margin-bottom: 10px;
}

.top_opts .multi-delete {
    float: right;
}

.table tbody a {
    color: #337ab7;
    font-weight: 400;
}

.table tbody a:hover {
    color: #23527c;
    text-decoration: underline !important;
}

.table thead .action-column {
    width: 50px;
}

.table th:nth-last-child(1) {
    width: 30px;
}

.publication-edit-index .table th:nth-last-child(3) {
    width: 95px;
}

.publication-edit-index .table tbody td:nth-last-child(3),
.project-edit-index .table tbody td:nth-last-child(3) {
    text-align: center;
}

.publication-edit-index .table tbody td:nth-child(3),
.project-edit-index .table tbody td:nth-child(3) {
    width: 140px;
}

.table th:first-child {
    width: 25px;
}

.public-document a {
    border-bottom: none !important;
}

.form-common {
    padding: 15px;
    font-weight: 400;
    line-height: 1.154;
}

.form-common .control-label {
    color: #333;
    font-size: 14px;
}

.field-publication-month,
.field-publication-year,
.field-achievement-month,
.field-achievement-year {
    display: inline-block;
    width: 150px;
    margin-right: 15px;
    margin-bottom: 5px;
    vertical-align: top;
}

.field-publication-public_lang {
    width: 150px;
}

ul.pagination {
    margin-bottom: 0;
}

.label {
    font-weight: 300;
}

.table thead tr, .table tbody td:first-child {
    background: linear-gradient(to bottom, #ffffff 0%,#f5f5f5 100%);
}

.project-edit-index .table th:nth-last-child(3) {
    width: 110px;
}

.achievement-edit-index .table th:nth-child(3) {
    width: 183px;
}

.redactor-toolbar {
    height: 32px;
}

.redactor-box {
    box-shadow: 0 2px 5px -1px black;
}

.field-project-project_status {
    width: 150px;
}

.site-about .hrdashed {
    margin: 15px 0;
}